<div class="container">
  <div class="header-btn-container d-n">
    <button class="header-big-btn" href="#">
      watched
    </button>
    <button class="header-big-btn" href="#">
      queue
    </button>
  </div>
  <ul class="main__list">
    {{#each this}}
    <li class="main__item">
      <a class="main__item-link" href="">
        <div class="main__item-block">
          <img class="main__item-img" alt="" src="{{poster_path}}" alt="{{title}}" />
          <p class="main__item-title">{{vote_average}}</p>
          <ul class="main__item-about-list">
            <li class="main__about-item">{{title}}</li>
            <li class="main__about-item">({{release_year}})</li>
          </ul>
        </div>

      </a>
    </li>
    {{/each}}
  </ul>
</div>